<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-5YKEMWJRZ0"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-5YKEMWJRZ0');
    </script>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
    <title>Bibelsøk</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
          integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="">
    <script defer src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
            integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>

    <!-- Driver.js (guided tour) -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/driver.js@1.3.1/dist/driver.css">
    <script src="https://cdn.jsdelivr.net/npm/driver.js@1.3.1/dist/driver.js.iife.js" defer></script>

    <!-- FAVICON -->
    <link rel="icon" type="image/png" href="/static/images/favicon-96x96.png?v=20260514" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="/static/images/favicon.svg?v=20260514" />
    <link rel="shortcut icon" href="/static/images/favicon.ico?v=20260514" />
    <link rel="manifest" href="/static/images/site.webmanifest?v=20260514" />
    
    <!-- PWA -->
    <link rel="apple-touch-icon" sizes="180x180" href="/static/images/apple-touch-icon.png?v=20260514" />
    <meta name="apple-mobile-web-app-title" content="Bibelsøk" />
     <meta name="theme-color" content="#F5F2EE">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="apple-mobile-web-app-title" content="Bibelsøk">
    <meta name="mobile-web-app-capable" content="yes">

    <!-- SPLASH SCREENS -->
    <link rel="apple-touch-startup-image" media="screen and (device-width: 440px) and (device-height: 956px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape)" href="static/images/splash_screens/iPhone_17_Pro_Max__iPhone_16_Pro_Max_landscape.png">
    <link rel="apple-touch-startup-image" media="screen and (device-width: 402px) and (device-height: 874px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape)" href="static/images/splash_screens/iPhone_17_Pro__iPhone_17__iPhone_16_Pro_landscape.png">
    <link rel="apple-touch-startup-image" media="screen and (device-width: 430px) and (device-height: 932px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape)" href="static/images/splash_screens/iPhone_16_Plus__iPhone_15_Pro_Max__iPhone_15_Plus__iPhone_14_Pro_Max_landscape.png">
    <link rel="apple-touch-startup-image" media="screen and (device-width: 420px) and (device-height: 912px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape)" href="static/images/splash_screens/iPhone_Air_landscape.png">
    <link rel="apple-touch-startup-image" media="screen and (device-width: 393px) and (device-height: 852px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape)" href="static/images/splash_screens/iPhone_16__iPhone_15_Pro__iPhone_15__iPhone_14_Pro_landscape.png">
    <link rel="apple-touch-startup-image" media="screen and (device-width: 428px) and (device-height: 926px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape)" href="static/images/splash_screens/iPhone_14_Plus__iPhone_13_Pro_Max__iPhone_12_Pro_Max_landscape.png">
    <link rel="apple-touch-startup-image" media="screen and (device-width: 390px) and (device-height: 844px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape)" href="static/images/splash_screens/iPhone_17e__iPhone_16e__iPhone_14__iPhone_13_Pro__iPhone_13__iPhone_12_Pro__iPhone_12_landscape.png">
    <link rel="apple-touch-startup-image" media="screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape)" href="static/images/splash_screens/iPhone_13_mini__iPhone_12_mini__iPhone_11_Pro__iPhone_XS__iPhone_X_landscape.png">
    <link rel="apple-touch-startup-image" media="screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape)" href="static/images/splash_screens/iPhone_11_Pro_Max__iPhone_XS_Max_landscape.png">
    <link rel="apple-touch-startup-image" media="screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)" href="static/images/splash_screens/iPhone_11__iPhone_XR_landscape.png">
    <link rel="apple-touch-startup-image" media="screen and (device-width: 414px) and (device-height: 736px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape)" href="static/images/splash_screens/iPhone_8_Plus__iPhone_7_Plus__iPhone_6s_Plus__iPhone_6_Plus_landscape.png">
    <link rel="apple-touch-startup-image" media="screen and (device-width: 375px) and (device-height: 667px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)" href="static/images/splash_screens/iPhone_8__iPhone_7__iPhone_6s__iPhone_6__4.7__iPhone_SE_landscape.png">
    <link rel="apple-touch-startup-image" media="screen and (device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)" href="static/images/splash_screens/4__iPhone_SE__iPod_touch_5th_generation_and_later_landscape.png">
    <link rel="apple-touch-startup-image" media="screen and (device-width: 1032px) and (device-height: 1376px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)" href="static/images/splash_screens/13__iPad_Pro_M4_landscape.png">
    <link rel="apple-touch-startup-image" media="screen and (device-width: 1024px) and (device-height: 1366px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)" href="static/images/splash_screens/12.9__iPad_Pro_landscape.png">
    <link rel="apple-touch-startup-image" media="screen and (device-width: 834px) and (device-height: 1210px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)" href="static/images/splash_screens/11__iPad_Pro_M4_landscape.png">
    <link rel="apple-touch-startup-image" media="screen and (device-width: 834px) and (device-height: 1194px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)" href="static/images/splash_screens/11__iPad_Pro__10.5__iPad_Pro_landscape.png">
    <link rel="apple-touch-startup-image" media="screen and (device-width: 820px) and (device-height: 1180px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)" href="static/images/splash_screens/10.9__iPad_Air_landscape.png">
    <link rel="apple-touch-startup-image" media="screen and (device-width: 834px) and (device-height: 1112px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)" href="static/images/splash_screens/10.5__iPad_Air_landscape.png">
    <link rel="apple-touch-startup-image" media="screen and (device-width: 810px) and (device-height: 1080px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)" href="static/images/splash_screens/10.2__iPad_landscape.png">
    <link rel="apple-touch-startup-image" media="screen and (device-width: 768px) and (device-height: 1024px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)" href="static/images/splash_screens/9.7__iPad_Pro__7.9__iPad_mini__9.7__iPad_Air__9.7__iPad_landscape.png">
    <link rel="apple-touch-startup-image" media="screen and (device-width: 744px) and (device-height: 1133px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)" href="static/images/splash_screens/8.3__iPad_Mini_landscape.png">
    <link rel="apple-touch-startup-image" media="screen and (device-width: 440px) and (device-height: 956px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)" href="static/images/splash_screens/iPhone_17_Pro_Max__iPhone_16_Pro_Max_portrait.png">
    <link rel="apple-touch-startup-image" media="screen and (device-width: 402px) and (device-height: 874px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)" href="static/images/splash_screens/iPhone_17_Pro__iPhone_17__iPhone_16_Pro_portrait.png">
    <link rel="apple-touch-startup-image" media="screen and (device-width: 430px) and (device-height: 932px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)" href="static/images/splash_screens/iPhone_16_Plus__iPhone_15_Pro_Max__iPhone_15_Plus__iPhone_14_Pro_Max_portrait.png">
    <link rel="apple-touch-startup-image" media="screen and (device-width: 420px) and (device-height: 912px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)" href="static/images/splash_screens/iPhone_Air_portrait.png">
    <link rel="apple-touch-startup-image" media="screen and (device-width: 393px) and (device-height: 852px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)" href="static/images/splash_screens/iPhone_16__iPhone_15_Pro__iPhone_15__iPhone_14_Pro_portrait.png">
    <link rel="apple-touch-startup-image" media="screen and (device-width: 428px) and (device-height: 926px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)" href="static/images/splash_screens/iPhone_14_Plus__iPhone_13_Pro_Max__iPhone_12_Pro_Max_portrait.png">
    <link rel="apple-touch-startup-image" media="screen and (device-width: 390px) and (device-height: 844px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)" href="static/images/splash_screens/iPhone_17e__iPhone_16e__iPhone_14__iPhone_13_Pro__iPhone_13__iPhone_12_Pro__iPhone_12_portrait.png">
    <link rel="apple-touch-startup-image" media="screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)" href="static/images/splash_screens/iPhone_13_mini__iPhone_12_mini__iPhone_11_Pro__iPhone_XS__iPhone_X_portrait.png">
    <link rel="apple-touch-startup-image" media="screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)" href="static/images/splash_screens/iPhone_11_Pro_Max__iPhone_XS_Max_portrait.png">
    <link rel="apple-touch-startup-image" media="screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)" href="static/images/splash_screens/iPhone_11__iPhone_XR_portrait.png">
    <link rel="apple-touch-startup-image" media="screen and (device-width: 414px) and (device-height: 736px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)" href="static/images/splash_screens/iPhone_8_Plus__iPhone_7_Plus__iPhone_6s_Plus__iPhone_6_Plus_portrait.png">
    <link rel="apple-touch-startup-image" media="screen and (device-width: 375px) and (device-height: 667px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)" href="static/images/splash_screens/iPhone_8__iPhone_7__iPhone_6s__iPhone_6__4.7__iPhone_SE_portrait.png">
    <link rel="apple-touch-startup-image" media="screen and (device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)" href="static/images/splash_screens/4__iPhone_SE__iPod_touch_5th_generation_and_later_portrait.png">
    <link rel="apple-touch-startup-image" media="screen and (device-width: 1032px) and (device-height: 1376px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)" href="static/images/splash_screens/13__iPad_Pro_M4_portrait.png">
    <link rel="apple-touch-startup-image" media="screen and (device-width: 1024px) and (device-height: 1366px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)" href="static/images/splash_screens/12.9__iPad_Pro_portrait.png">
    <link rel="apple-touch-startup-image" media="screen and (device-width: 834px) and (device-height: 1210px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)" href="static/images/splash_screens/11__iPad_Pro_M4_portrait.png">
    <link rel="apple-touch-startup-image" media="screen and (device-width: 834px) and (device-height: 1194px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)" href="static/images/splash_screens/11__iPad_Pro__10.5__iPad_Pro_portrait.png">
    <link rel="apple-touch-startup-image" media="screen and (device-width: 820px) and (device-height: 1180px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)" href="static/images/splash_screens/10.9__iPad_Air_portrait.png">
    <link rel="apple-touch-startup-image" media="screen and (device-width: 834px) and (device-height: 1112px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)" href="static/images/splash_screens/10.5__iPad_Air_portrait.png">
    <link rel="apple-touch-startup-image" media="screen and (device-width: 810px) and (device-height: 1080px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)" href="static/images/splash_screens/10.2__iPad_portrait.png">
    <link rel="apple-touch-startup-image" media="screen and (device-width: 768px) and (device-height: 1024px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)" href="static/images/splash_screens/9.7__iPad_Pro__7.9__iPad_mini__9.7__iPad_Air__9.7__iPad_portrait.png">
    <link rel="apple-touch-startup-image" media="screen and (device-width: 744px) and (device-height: 1133px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)" href="static/images/splash_screens/8.3__iPad_Mini_portrait.png">

</head>
<body>

<!-- attrib icons: 
<a href="https://www.flaticon.com/free-icons/question" title="question icons">Question icons created by Muhammad Ali - Flaticon</a>
<a href="https://www.flaticon.com/free-icons/settings" title="settings icons">Settings icons created by Freepik - Flaticon</a>
<a href="https://www.flaticon.com/free-icons/comment" title="comment icons">Comment icons created by Ilham Fitrotul Hayat - Flaticon</a>
-->
<div class="header">
    <div class="header-inner">
        <h1 onclick="goHome()"><span class="logo-icon" aria-hidden="true"></span>Bibelsøk</h1>
        <div class="header-right">
            <button class="header-btn" id="feedbackToggle" data-i18n-title="header.feedback" title="Tilbakemelding"><img src="{{ url_for('static', filename='images/feedback.png') }}" class="header-btn-icon" alt=""></button>
            <button class="header-btn" id="helpToggle" data-i18n-title="header.help"><img src="{{ url_for('static', filename='images/help.png') }}" class="header-btn-icon" alt=""></button>
            <button class="header-btn" id="settingsToggle" data-i18n-title="header.settings"><img src="{{ url_for('static', filename='images/settings.png') }}" class="header-btn-icon" alt=""></button>
        </div>
    </div>
</div>

<div class="controls">
    <div class="search-group">
        <div class="search-wrap">
            <div class="search-highlight-overlay" id="searchHighlightOverlay" aria-hidden="true"><span id="searchHighlightContent"></span></div>
            <input type="text" id="searchInput"
                   data-i18n-placeholder="search.placeholder"
                   autocomplete="off" autocorrect="off" spellcheck="false">
            <button class="search-clear-btn" id="searchClearBtn" data-i18n-title="search.clear">&times;</button>
        </div>
        <!-- Custom picker shown on desktop; native select shown on mobile -->
        <div class="version-picker" id="versionPicker">
            <button class="vp-trigger" id="versionPickerBtn" type="button" onclick="toggleVersionPicker()">
                <div class="vp-trigger-text">
                    <span class="vp-name" id="versionPickerName"></span>
                </div>
                <svg class="vp-chevron" viewBox="0 0 10 6" xmlns="http://www.w3.org/2000/svg" fill="none"><path d="M1 1l4 4 4-4" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/></svg>
            </button>
            <div class="vp-list" id="versionPickerList"></div>
        </div>
        <select id="versionSelect"></select>
        <button class="btn btn-primary" id="searchBtn" data-i18n="search.button">Search</button>
        <div class="autocomplete-dropdown" id="autocompleteDropdown"></div>
    </div>
    <div id="searchWarning" class="search-warning" style="display:none"></div>
</div>

<div class="display-area">
<div class="display-bar">
    <button class="display-bar-btn" id="blaBtn" onclick="toggleBlaPanel()">
        <svg class="display-bar-icon" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" aria-hidden="true"><path d="M2 3h6a4 4 0 0 1 4 4v14a3 3 0 0 0-3-3H2z"/><path d="M22 3h-6a4 4 0 0 0-4 4v14a3 3 0 0 1 3-3h7z"/></svg>
        <span class="display-bar-label">Oppslag</span>
        <span class="display-bar-label-short" aria-hidden="true">Oppsl.</span>
    </button>
    <div class="display-bar-sep" aria-hidden="true"></div>
    <button class="display-bar-btn" id="visningBtn" onclick="toggleVisningPanel()">
        <svg class="display-bar-icon" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" aria-hidden="true"><path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z"/><circle cx="12" cy="12" r="3"/></svg>
        <span class="display-bar-label">Visning</span>
        <span class="display-bar-label-short" aria-hidden="true">Visn.</span>
    </button>
    <div class="display-bar-sep" aria-hidden="true"></div>
    <button class="display-bar-btn" id="quickModeBtn" type="button" data-i18n-title="quickSearch.toggle" aria-pressed="false">
        <svg class="display-bar-icon" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" aria-hidden="true"><path d="M13 2L4 14h7l-1 8 9-12h-7l1-8z"/></svg>
        <span class="display-bar-label">Hurtigsøk <span class="display-bar-hint">Ctrl+Q</span></span>
        <span class="display-bar-label-short" aria-hidden="true">Hurtigs.</span>
    </button>
    <div class="display-bar-sep" aria-hidden="true"></div>
    <button class="display-bar-btn" id="toolbarCompareBtn" type="button" aria-pressed="false" title="Sammenlign oversettelser">
        <svg class="display-bar-icon" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.75" stroke-linecap="round" stroke-linejoin="round" aria-hidden="true" style="width:16px;height:16px"><path d="M3 9H21M17 6L21 9L17 12M21 15H3M7 18L3 15L7 12"/></svg>
        <span class="display-bar-label">Sammenlign</span>
        <span class="display-bar-label-short" aria-hidden="true">Sammenl.</span>
    </button>
</div>

<div class="display-panel bla-panel" id="blaPanel">
    <div class="bla-stepper" id="blaStepper"></div>
</div>

<div class="display-panel visning-panel" id="visningPanel">
    <div class="toggles-grid">
        <div class="toggle-item">
            <div class="toggle-label-row">
                <span data-i18n="toggle.verseNums">Verse numbers</span>
            </div>
            <label class="toggle-switch">
                <input type="checkbox" id="toggleVerseNums" checked>
                <span class="toggle-slider"></span>
            </label>
        </div>

        <div class="toggle-item">
            <div class="toggle-label-row">
                <span data-i18n="toggle.newlines">New line per verse</span>
            </div>
            <label class="toggle-switch">
                <input type="checkbox" id="toggleNewlines">
                <span class="toggle-slider"></span>
            </label>
        </div>

        <div class="toggle-item">
            <div class="toggle-label-row">
                <span data-i18n="toggle.headings">Headings</span>
            </div>
            <label class="toggle-switch">
                <input type="checkbox" id="toggleHeadings" checked>
                <span class="toggle-slider"></span>
            </label>
        </div>

        <div class="toggle-item">
            <div class="toggle-label-row">
                <span data-i18n="toggle.annotations">Annotations †§</span>
            </div>
            <label class="toggle-switch">
                <input type="checkbox" id="toggleAnnotations" checked>
                <span class="toggle-slider"></span>
            </label>
        </div>

        <div class="toggle-item">
            <div class="toggle-label-row">
                <span data-i18n="toggle.places">Places 📍</span>
            </div>
            <label class="toggle-switch">
                <input type="checkbox" id="togglePlaces">
                <span class="toggle-slider"></span>
            </label>
        </div>
    </div>
</div>
</div>

<div class="results-wrapper" id="resultsWrapper">
    <div class="empty-state" id="emptyState">
        <h2 data-i18n="empty.title">Søk i Bibelen</h2>
        <p class="empty-tagline" data-i18n="empty.tagline">Referenser, fulltekstsøk, studieverktøy  — på tvers av oversettelser.</p>
        <blockquote class="empty-verse" onclick="goToEmptyVerse()" style="cursor:pointer;">
            <p class="empty-verse-text" data-i18n="empty.verse.text"></p>
            <footer class="empty-verse-ref" data-i18n="empty.verse.ref"></footer>
        </blockquote>
    </div>
</div>

<aside id="appSidebar" class="app-sidebar" aria-label="Festede elementer">
    <div class="sidebar-resize-handle" id="sidebarResizeHandle" aria-hidden="true"></div>
    <button class="sidebar-close" id="sidebarCloseBtn" title="Lukk sidebar" aria-label="Lukk sidebar">&times;</button>
    <div class="sidebar-modules" id="sidebarModules"></div>
</aside>

<!-- Help & Info modal (single-tab) -->
<div class="modal-overlay" id="helpModal">
    <div class="modal-panel">
        <div class="modal-header">
            <span data-i18n="modal.helpInfo">Hjelp &amp; om</span>
            <button class="modal-close" id="helpClose">&times;</button>
        </div>
        <div class="modal-body">
            <div class="help-section">
                <h3 data-i18n="help.section.search">Søk</h3>
                <p class="info-text" data-i18n-html="help.searchIntro"></p>
                <div class="help-row"><span class="help-key">Joh 3:16</span><span class="help-desc" data-i18n="help.row.singleVerse">Enkelt vers</span></div>
                <div class="help-row"><span class="help-key">Salme 23</span><span class="help-desc" data-i18n="help.row.wholeChapter">Helt kapittel</span></div>
                <div class="help-row"><span class="help-key">1. Mos 1:1-3</span><span class="help-desc" data-i18n="help.row.verseRange">Vers-område</span></div>
                <div class="help-row"><span class="help-key">Joh 3:1-4:6</span><span class="help-desc" data-i18n="help.row.crossChapter">Over flere kapitler</span></div>
                <div class="help-row"><span class="help-key">1. Kor 6:9-end</span><span class="help-desc" data-i18n="help.row.verseToEnd">Til slutten av kapittelet</span></div>
                <div class="help-row"><span class="help-key">Joh 3:16;17;Rom 5:8</span><span class="help-desc" data-i18n="help.row.multiPassages">Flere passasjer</span></div>
            </div>
            <div class="help-section">
                <h3 data-i18n="help.section.operators">Operatorer for tekstsøk</h3>
                <div class="help-row"><span class="help-key">tro</span><span class="help-desc" data-i18n="help.row.allWords">Prefix-søk — tro, tror, troen…</span></div>
                <div class="help-row"><span class="help-key">*tro*</span><span class="help-desc" data-i18n="help.row.substring">Inneholder «tro» (Jetro, betro)</span></div>
                <div class="help-row"><span class="help-key">"tro"</span><span class="help-desc" data-i18n="help.row.exactWord">Eksakt ord</span></div>
                <div class="help-row"><span class="help-key">"evig liv"</span><span class="help-desc" data-i18n="help.row.exactPhrase">Eksakt frase</span></div>
                <div class="help-row"><span class="help-key">nåde -dom</span><span class="help-desc" data-i18n="help.row.exclude">Ekskluder med -</span></div>
                <div class="help-row"><span class="help-key">nåde | frelse</span><span class="help-desc" data-i18n="help.row.either">Enten/eller</span></div>
                <div class="help-row"><span class="help-key">nåde frelse</span><span class="help-desc" data-i18n="help.row.bothWords">Begge ord (implisitt AND)</span></div>
                <div class="help-row"><span class="help-key">Johannes: nåde</span><span class="help-desc" data-i18n="help.row.bookScope">Søk innenfor én bok</span></div>
            </div>
            <details class="help-section help-details">
                <summary data-i18n="help.section.searchGroups">Søkegrupper / filtre (klikk for å utvide)</summary>
                <div class="help-row"><span class="help-key">GT: ord</span><span class="help-desc" data-i18n="help.row.gt">Gamle Testamentet</span></div>
                <div class="help-row"><span class="help-key">NT: ord</span><span class="help-desc" data-i18n="help.row.nt">Nye Testamentet</span></div>
                <div class="help-row"><span class="help-key">mosebøkene: ord</span><span class="help-desc" data-i18n="help.row.pentateuch">1.–5. Mosebok</span></div>
                <div class="help-row"><span class="help-key">historiske: ord</span><span class="help-desc" data-i18n="help.row.historical">Historiske bøker</span></div>
                <div class="help-row"><span class="help-key">poetiske: ord</span><span class="help-desc" data-i18n="help.row.poetic">Poetiske / visdom</span></div>
                <div class="help-row"><span class="help-key">profetene: ord</span><span class="help-desc" data-i18n="help.row.prophets">Profetene</span></div>
                <div class="help-row"><span class="help-key">store profeter: ord</span><span class="help-desc" data-i18n="help.row.majorProphets">Store profeter</span></div>
                <div class="help-row"><span class="help-key">små profeter: ord</span><span class="help-desc" data-i18n="help.row.minorProphets">Små profeter</span></div>
                <div class="help-row"><span class="help-key">evangeliene: ord</span><span class="help-desc" data-i18n="help.row.gospels">Evangeliene</span></div>
                <div class="help-row"><span class="help-key">synoptiske: ord</span><span class="help-desc" data-i18n="help.row.synoptic">Synoptiske</span></div>
                <div class="help-row"><span class="help-key">brev: ord</span><span class="help-desc" data-i18n="help.row.epistles">NT-brev</span></div>
                <div class="help-row"><span class="help-key">paulusbrevene: ord</span><span class="help-desc" data-i18n="help.row.pauline">Paulus-brevene</span></div>
                <div class="help-row"><span class="help-key">almenne brev: ord</span><span class="help-desc" data-i18n="help.row.general">Almenne brev</span></div>
                <div class="help-row"><span class="help-key">johanneisk: ord</span><span class="help-desc" data-i18n="help.row.johannine">Johanneisk litteratur</span></div>
                <div class="help-row"><span class="help-key">apokalyptiske: ord</span><span class="help-desc" data-i18n="help.row.apocalyptic">Apokalyptiske</span></div>
                <div class="help-row"><span class="help-key">konger og krøniker: ord</span><span class="help-desc" data-i18n="help.row.kingsChron">Konger og Krøniker</span></div>
                <div class="help-row"><span class="help-key">samuelsbøkene: ord</span><span class="help-desc" data-i18n="help.row.multiVolume">Flerbindsgrupper (samuels-, konge-, krønike-, korinter-, tessaloniker-, timoteus-, peter-, johannesbrevene)</span></div>
            </details>
            <div class="help-section pc-only">
                <h3 data-i18n="help.section.shortcuts">Hurtigtaster</h3>
                <div class="hotkey-row"><span class="hotkey-badge">/</span><span class="help-desc" data-i18n="help.row.focusSearch">Fokuser søkefelt</span></div>
                <div class="hotkey-row"><span class="hotkey-badge">Esc</span><span class="help-desc" data-i18n="help.row.blurSearch">Lukk modal / avbryt fokus</span></div>
                <div class="hotkey-row"><span class="hotkey-badge">?</span><span class="help-desc" data-i18n="help.row.openHelp">Åpne/lukk hjelp</span></div>
                <div class="hotkey-row"><span class="hotkey-badge">← →</span><span class="help-desc" data-i18n="help.row.prevNextChVs">Forrige/neste kapittel eller vers</span></div>
                <div class="hotkey-row"><span class="hotkey-badge">[ ]</span><span class="help-desc" data-i18n="help.row.prevNextVer">Forrige/neste oversettelse</span></div>
                <div class="hotkey-row"><span class="hotkey-badge">Tab</span><span class="help-desc" data-i18n="help.row.tabAccept">Godta autofullføring</span></div>
                <div class="hotkey-row"><span class="hotkey-badge">Tab Tab</span><span class="help-desc" data-i18n="help.row.tabBookSearch">Søk innenfor fullført bok</span></div>
                <div class="hotkey-row"><span class="hotkey-badge">↑ ↓</span><span class="help-desc" data-i18n="help.row.acNav">Naviger autofullføringer</span></div>
                <div class="hotkey-row"><span class="hotkey-badge">Ctrl+Q</span><span class="help-desc" data-i18n="help.row.toggleQuick">Slå hurtigsøk av/på</span></div>
            </div>
            <div class="help-section help-actions">
                <button class="btn btn-secondary" id="restartTourBtn" type="button" data-i18n="help.restartTour">▶ Ta velkomst-touren på nytt</button>
                <button class="btn btn-secondary" id="openFeedbackBtn" type="button" data-i18n="help.openFeedback">💬 Send tilbakemelding</button>
            </div>
            <div class="help-section">
                <h3 data-i18n="info.aboutMe.title">Om meg</h3>
                <p class="info-text" data-i18n-html="info.aboutMe.text"></p>
                <p class="info-text" style="margin-top:8px;"><a href="#" id="favoriteVersesLink" data-i18n="info.aboutMe.favorites">Mine favorittvers</a></p>
            </div>
            <div class="help-section">
                <h3 data-i18n="info.license.title">Kilder &amp; lisens</h3>
                <ul class="info-list" data-i18n-html="info.license.text"></ul>
            </div>
        </div>
    </div>
</div>

<!-- Feedback modal -->
<div class="modal-overlay" id="feedbackModal">
    <div class="modal-panel" style="max-width:520px;">
        <div class="modal-header">
            <span data-i18n="feedback.title">Tilbakemelding</span>
            <button class="modal-close" id="feedbackClose">&times;</button>
        </div>
        <div class="modal-body">
            <p class="info-text" data-i18n="feedback.intro">Alle tilbakemeldinger og kritikk settes stor pris på! Jeg ønsker at dette verktøyet skal bli best mulig.</p>
            <div class="feedback-form">
                <label class="feedback-field">
                    <span class="feedback-label" data-i18n="feedback.category">Kategori</span>
                    <select id="feedbackCategory">
                        <option value="bug" data-i18n="feedback.cat.bug">🐛 Bug</option>
                        <option value="feature" data-i18n="feedback.cat.feature">✨ Ny funksjon</option>
                        <option value="change" data-i18n="feedback.cat.change">🔧 Endring</option>
                        <option value="other" data-i18n="feedback.cat.other">💬 Annet</option>
                    </select>
                </label>
                <label class="feedback-field">
                    <span class="feedback-label" data-i18n="feedback.emailLabel">E-post (valgfri)</span>
                    <input type="email" id="feedbackEmail" data-i18n-placeholder="feedback.emailPlaceholder" placeholder="valgfri — om du vil bli kontaktet">
                </label>
                <label class="feedback-field">
                    <span class="feedback-label" data-i18n="feedback.messageLabel">Melding</span>
                    <textarea id="feedbackMessage" rows="6" maxlength="4000" data-i18n-placeholder="feedback.messagePlaceholder" placeholder="Skriv tilbakemelding her…"></textarea>
                </label>
                <div class="feedback-status" id="feedbackStatus" aria-live="polite"></div>
                <div class="feedback-actions">
                    <button class="btn btn-primary" id="feedbackSendBtn" type="button" data-i18n="feedback.send">Send</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Stats modal -->
<div class="modal-overlay" id="statsModal">
    <div class="modal-panel" style="max-width:1100px;">
        <div class="modal-header">
            <span id="statsModalTitle" data-i18n="modal.stats">// Stats</span>
            <select id="statsModeSelect" class="stats-mode-select">
                <option value="total" data-i18n="stats.totalHits">Total hits</option>
                <option value="per_chapter" data-i18n="stats.perChapter">Per chapter</option>
                <option value="per_verse" data-i18n="stats.perVerse">Per verse</option>
            </select>
            <button class="modal-close" id="statsClose">&times;</button>
        </div>
        <div class="modal-body" id="statsBody"></div>
    </div>
</div>

<!-- Chart tooltip -->
<div class="chart-tooltip" id="chartTooltip"></div>

<!-- Settings modal -->
<div class="modal-overlay" id="settingsModal">
    <div class="modal-panel">
        <div class="modal-header">
            <span data-i18n="modal.settings">// Settings</span>
            <button class="modal-close" id="settingsClose">&times;</button>
        </div>
        <div class="modal-body">
            <div class="settings-section">
                <h3 data-i18n="settings.appearance">Appearance</h3>
                <div class="settings-row">
                    <span class="settings-label" data-i18n="settings.darkMode">Dark mode</span>
                    <div class="dm-toggle" id="darkToggle" role="group">
                        <button class="dm-btn" id="dmLight">&#9728; Lys</button>
                        <button class="dm-btn" id="dmDark">&#9790; Mørk</button>
                    </div>
                </div>
                <div class="settings-row">
                    <span class="settings-label" data-i18n="settings.uiFont">UI font</span>
                    <div class="font-ui-ctrl" id="fontUICtrl">
                        <button class="font-ui-btn" data-val="mono" data-i18n="settings.fontMono">Mono</button>
                        <button class="font-ui-btn" data-val="sans" data-i18n="settings.fontSans">Sans</button>
                        <button class="font-ui-btn" data-val="serif" data-i18n="settings.fontSerif">Serif</button>
                    </div>
                </div>
                <div class="settings-row">
                    <span class="settings-label" data-i18n="settings.accentColor">Accent color</span>
                    <div class="color-picker" id="colorPicker"></div>
                </div>
                <div class="settings-row">
                    <span class="settings-label" data-i18n="settings.verseFontSize">Verse font size</span>
                    <div class="font-size-ctrl">
                        <span>Aa</span>
                        <input type="range" id="fontSizeSlider" min="1" max="5" value="3" step="1">
                    </div>
                </div>
            </div>
            <div class="settings-section settings-section-last">
                <h3 data-i18n="settings.defaults">Default</h3>
                <div class="settings-row">
                    <span class="settings-label" data-i18n="settings.bibleVersion">Bible version</span>
                    <select id="defaultVersionSelect"></select>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Map fullscreen container (populated by MapModule when fullscreen is toggled) -->
<div id="mapFullscreen" class="map-fullscreen" hidden></div>

<!-- Mobile Module Host (single-module bottom sheet) -->
<div id="moduleHost" class="module-host" data-state="closed" aria-hidden="true">
    <div class="module-host-handle" id="moduleHostHandle">
        <div class="module-host-grab"></div>
    </div>
    <div class="module-host-body" id="moduleHostBody"></div>
</div>

<!-- Marked Verses Bar -->
<!-- Credit book icon: meaicon, https://www.flaticon.com/free-icons/knowledge  -->
<!-- Credit external icon: Bharat Icons, https://www.flaticon.com/free-icons/external-link -->
<div id="markedVersesBar" class="marked-verses-bar">
    <div class="mvb-inner">
        <div class="mvb-handle" id="mvbHandle" aria-hidden="true"><div class="mvb-grab"></div></div>
        <!-- Layer 1: reference (wraps; grows MVB vertically) -->
        <div class="mvb-row mvb-row-ref">
            <span class="mvb-ref" id="mvbRef"></span>
        </div>
        <!-- Layer 2: single action row, no scroll. Left = annot, right = open/pin/copy/share. -->
        <div class="mvb-row mvb-row-actions">
            <div class="mvb-actions-left">
                <button class="mvb-action-btn mvb-annot-btn" id="mvbXr" title="Kryssreferanser"><span class="mvb-annot-glyph">§</span><span class="mvb-btn-label mvb-label-full">Referanser</span><span class="mvb-btn-label mvb-label-short">Ref.</span></button>
                <button class="mvb-action-btn mvb-annot-btn" id="mvbFn" title="Fotnoter"><span class="mvb-annot-glyph">†</span><span class="mvb-btn-label mvb-label-full">Fotnoter</span><span class="mvb-btn-label mvb-label-short">Fotn.</span></button>
            </div>
            <div class="mvb-actions-right">
                <button class="mvb-action-btn mvb-icon-btn" id="mvbOpen" title="Åpne markerte vers"><img src="{{ url_for('static', filename='images/book.png') }}" class="mvb-btn-icon" alt=""><span class="mvb-btn-label">Åpne</span></button>
                <button class="mvb-action-btn mvb-icon-btn" id="mvbPinTop" title="Fest markerte vers" aria-label="Fest markerte vers"><img src="{{ url_for('static', filename='images/pin.png') }}" class="mvb-btn-icon" alt=""><span class="mvb-btn-label">Fest</span></button>
                <button class="mvb-action-btn mvb-icon-btn" id="mvbCopyBtn" title="Kopier" aria-label="Kopier"><img src="{{ url_for('static', filename='images/copy.png') }}" class="mvb-btn-icon" alt=""><span class="mvb-btn-label">Kopier</span></button>
                <button class="mvb-action-btn mvb-icon-btn" id="mvbShare" title="Del lenke" aria-label="Del lenke"><img src="{{ url_for('static', filename='images/share.png') }}" class="mvb-btn-icon" alt=""><span class="mvb-btn-label">Del</span></button>
            </div>
        </div>
        <hr class="mvb-sep">
        <!-- Layer 3: borderless module buttons, equal width, no scroll. -->
        <div class="mvb-row mvb-modules" id="mvbModules">
            <button class="mvb-module-btn" id="mvbMap" data-module="map" title="Kart"><span class="mvb-module-emoji">🗺️</span><span class="mvb-module-label">Kart</span></button>
            <button class="mvb-module-btn" id="mvbCommentary" data-module="commentary" title="Kommentar"><span class="mvb-module-emoji">✒️</span><span class="mvb-module-label">Kommentar</span></button>
            <button class="mvb-module-btn" id="mvbLeksikon" data-module="leksikon" title="Leksikon"><span class="mvb-module-emoji">📕</span><span class="mvb-module-label">Leksikon</span></button>
            <button class="mvb-module-btn" id="mvbTopics" data-module="topics" title="Tema"><span class="mvb-module-emoji">🎨</span><span class="mvb-module-label">Tema</span></button>
            <button class="mvb-module-btn" id="mvbOutline" data-module="outline" title="Outline"><span class="mvb-module-emoji">📜</span><span class="mvb-module-label">Outline</span></button>
            <button class="mvb-module-btn" id="mvbExternal" data-module="external" title="Eksterne lenker"><img src="{{ url_for('static', filename='images/external.png') }}" class="mvb-module-emoji mvb-module-emoji-img" alt=""><span class="mvb-module-label">Ekstern</span></button>
        </div>
    </div>
</div>

<!-- Ekstern popup: anchored under #mvbExternal on PC, bottom-sheet on mobile -->
<div id="externalPopup" class="external-popup" data-state="closed" aria-hidden="true">
    <div class="external-popup-inner">
        <a class="external-link" id="extInterlinear" href="#" target="_blank" rel="noopener"><img src="{{ url_for('static', filename='images/biblehub.png') }}" class="external-link-logo" alt=""><span>Grunntekst</span><span class="ext-icon" aria-hidden="true">&#x2197;</span></a>
        <a class="external-link" id="extBibleref" href="#" target="_blank" rel="noopener"><img src="{{ url_for('static', filename='images/bibleref.png') }}" class="external-link-logo" alt=""><span>BibleRef</span><span class="ext-icon" aria-hidden="true">&#x2197;</span></a>
        <a class="external-link" id="extSource" href="#" target="_blank" rel="noopener"><span>Kilde</span><span class="ext-icon" aria-hidden="true">&#x2197;</span></a>
    </div>
</div>

<!-- Pinned-verses strip (sits on top of MVB when present, falls to bottom otherwise) -->
<div id="pinnedStrip" class="pinned-strip" data-state="closed" aria-hidden="true">
    <div class="pinned-strip-inner">
        <div class="pinned-strip-pills" id="pinnedStripPills"></div>
        <div class="pinned-strip-actions">
            <button class="pinned-strip-open-all" id="pinnedStripOpenAll" title="Åpne alle festede vers">Åpne alle</button>
            <button class="pinned-strip-clear" id="pinnedStripClear" title="Fjern alle festede vers" aria-label="Fjern alle festede vers">✕</button>
        </div>
    </div>
</div>

<div class="toast" id="toast"></div>

<script src="{{ url_for('static', filename='js/sidebar.js') }}"></script>
<script src="{{ url_for('static', filename='js/moduleHost.js') }}"></script>
<script src="{{ url_for('static', filename='js/modules/pinnedVerses.js') }}"></script>
<script src="{{ url_for('static', filename='js/modules/mapModule.js') }}"></script>
<script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
<script src="{{ url_for('static', filename='js/modules/commentaryModule.js') }}"></script>
<script src="{{ url_for('static', filename='js/modules/topicsModule.js') }}"></script>
<script src="{{ url_for('static', filename='js/modules/outlineModule.js') }}"></script>
<script src="{{ url_for('static', filename='js/modules/leksikonModule.js') }}"></script>
<script src="{{ url_for('static', filename='js/modules/feedback.js') }}"></script>
<script src="{{ url_for('static', filename='js/modules/welcomeTour.js') }}"></script>
<script src="{{ url_for('static', filename='js/app.js') }}"></script>
<script>
// The PWA service worker was removed (it caused asset-version mismatches on
// revisits). For users that still have it registered, fetch /sw.js once so
// the self-destruct stub installs, clears caches, and unregisters.
if ('serviceWorker' in navigator) {
    navigator.serviceWorker.getRegistrations()
        .then(regs => regs.forEach(r => r.update()))
        .catch(() => {});
}
</script>
</body>
</html>
